# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
media/
static/
*.mo

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv/
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
